.game {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
  }
  
  .help {
    color: #666;
    margin: 10px;
    text-align: center;
  }
  
  .left {
    text-align: center;
    width: 50%;
    border: thin solid #ddd;
  }
  
  .right {
    text-align: center;
    padding: 10px;
    width: 50%;
    border: thin solid #ddd;
  }
  
  .star {
      display: inline-block;
    margin: 0 15px;
  }
  
  .star:after {
    content: "\2605";
    font-size: 45px;
  }
  
  .number {
    background-color: #eee;
    border: thin solid #ddd;
    width: 45px;
    height: 45px;
    margin: 10px;
    font-size: 25px;
  }
  
  .number:focus, .number:active {
    outline: none;
    border: thin solid #ddd;
  }
  
  .timer {
      color: #666;
    margin-top: 3px;
    margin-left: 3px;
  }
  
  .game-done .message {
    font-size: 250%;
    font-weight: bold;
    margin: 15px;
  }

  a, a:visited {
    color: #666666;
  }
  
  .clear {
    clear: both;
  }
  
  td {
    border-top: solid 1px #d3d3d3;
  }
  
  td, th {
    padding: 10px;
  }
  
  table {
    border-collapse:collapse;
  }
  
  /* Documentation site component styles */
  .example {
    border: solid 1px #d3d3d3;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f4f6f9;
  }
  
  .example h4:first-of-type {
     margin-top: 0;
  }
  
  .example p:last-of-type {
     margin-bottom: 0;
  }
  
  .props tr td:last-of-type {
    text-align: center;
  }
  
  .props th, td {
    text-align: left;
    padding: 5px;
  }
  
  .navigation {
    float: left;
    width: 250px;
    list-style-type: none;
    padding: 0;
  }
  
  .componentpage {
    margin-left: 275px;
  }